* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;


}

body {
	background-color: #2b669c;
	font-family: 'Segoe UI', 'Arial';
	overflow-x: scroll;

	display: flex;
	align-items: center;
	justify-content: center;
	/*  background-color: ; */
	margin-top: 5%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

h1,
label,
h4 {
	color: #152029;
	margin-left: 60px;
}

h1 {
	font-size: 22px;
	margin-bottom: 25px;
}

label {
	font-size: 11px;
	opacity: .7;
}

section.content {
	width: 2000px;
	height: 200vh;
	/* background: #fff; */
	box-shadow: 0px 0px 10px #CCC;
	margin: 0 auto;
}

div.box_form {
	border-bottom: 1px solid #DDD;
	padding: 15px 25px;
	background: #F5F5F5;
}


input {
	border: 1px solid #ddd;
	margin-top: 4px;
	color: #666;
	border-radius: 20px;
	padding: 10px 15px;
	margin-left: 60px;
}


.btn-env {
	background: #caec4f;
	color: #2b1414;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	margin-left: 60px;
	border-radius: 20px;
	height: 40px;
	width: 100px;
}


.btn-voltar {
	background-color: #0000CD;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	float: right;
	border: 0px;
	box-shadow: 3px 4px grey;
	display: flex;
}

.buttons {
	background-color: #0000CD;
	align-items: baseline;
}

.formQtde {
	display: flex;
}

.input-qtde {
	width: 50px;
	height: 30px;
	margin-left: 0;
	/* margin-top: 0px; */
	border-color: white;
	border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;

}

input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;

}

.btn-qtde {
	/* float: right; */
	cursor: pointer;
	background-color: rgb(71, 212, 71);
	border-radius: 10px;
	border: 0;
	box-shadow: 3px 2px rgb(255, 255, 255);
	height: 30px;
	margin-left: 5px;
	color: aliceblue;
}

.label {
	font-weight: bold;
	font-size: 15px;
}